Source: ruby-power-assert
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Cédric Boutillier <boutil@debian.org>
Build-Depends: debhelper (>= 11~),
               gem2deb,
               rake,
               ruby-bundler,
               ruby-byebug,
               ruby-simplecov,
               ruby-test-unit,
               pry
Standards-Version: 4.1.4
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-power-assert.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-power-assert
Homepage: https://github.com/k-tsj/power_assert
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-power-assert
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: library showing values of variables and method calls in an expression
 Power Assert shows each value of variables and method calls in the
 expression. It is useful for testing, providing which value wasn't
 correct when the condition is not satisfied.
